html,body
   height 100%
   overflow hidden


.classify
  width 100%

  .classify_header
    width 100%
    position fixed
    z-index 50
    top 0
    bottom-border-1px(#e4e4e4)
    height 40px
    line-height 40px
    width 100%
    display flex
    justify-content space-around
    text-align center
    font-size 12px
    .b1
      width 100%
      background white
      >span
        &.on
          border-bottom 1px solid red
          color red
      .s1
        margin-left 100px
        padding-bottom 10px
        //border-bottom 1px solid red
        //color red
      .s3
        margin-left 100px




















