.header
  width 100%
  .logo_bg
    width 100%
    background-image url("2ac7b0a4f0ab1e4a63819e0668d1cb39.png")
    .logo_title
      width 100%
      display flex
      justify-content space-between
      height 50px
      line-height 50px
      color white
    .mlogo
      width 25%
      margin auto
      img
        display block
        width 75px
        height 47px
        padding 30px 20px 30px
        line-height 47px




// 登录
    .es
      width 100%
      overflow hidden
      line-height 44px
      color white
      .es_icon
        width 100%
        float left
        height 44px
        .icon-jiantou1
          position relative
          top 20px
          left -40px


      .es_icon1
        float left
        margin-left 240px
        margin-top -44px


    //手机密码验证
    .content
      width 100%
      .mobile
        width 100%
        height 30px
        margin 21px 21px
        color #d7d7d7
        font-size 15px


//        忘记密码
    .mima
      width 100%
      a
        font-size 14px
        margin-left 300px


//        登录按钮
    .login
      width 90%
      margin  10px auto
      button
        border-radius 8px
        height 38px
        width 345px
        background #2ec975
        color white
        font-size 15px
        border 0


    .other_login
      margin-top 100px
      text-align center
      p
        color #d7d7d7
      img
        display inline-block
        width 60px
        height 60px
        padding 10px 20px



