#apps
  width 100%
  height 5000px
  .msite
    bottom-border-1px(#e4e4e4)
    width 100%
    position fixed
    z-index 20
    top:0
    background white
    .index_top
      width 100%
      height 60px
      display flex
      justify-content space-around
      align-items center
      .msite_2
        height 25px
        >span
          >input
            background #e9e9e9
            height 25px
            border-radius 5px
            border 0
            outline none
            margin-right -20px

    .index_bottom
      width 100%
      .index_content
        width 100%
        .index_list
          width 100%
          display flex

          justify-content space-between
          white-space nowrap
          align-items center
          .on
            border-bottom 1px solid #e73f85
            color #e73f85
          >li
            margin-left 20px
            font-size 14px
            height 38px
            line-height 38px





  /*图片轮播*/
  .nav
    margin-top 100px
    width 100%

    .nav_content
      width 100%
      height 100%
      .nav_images
        width 100%
        position relative
        height 160px
        >img
          position absolute
          width 375px
          height 160px
    .column
      width 100%
      .column_div
        width 375px
        .column_top
          width 375px
          display flex
          justify-content space-around
          >li
            >a
              >img
                display block
                width 80px
                height 100px
        .column_bottom
          width 375px
          display flex
          justify-content space-around
          >li
            >a
              >img
                display block
                width 80px
                height 100px




// 新人专享
    .logo
      width 375px
      height 140px
      a
        .logo_img
          width 375px
          height 120px


    .crazy
      width 100%
      .crazy_time
        width 100%
        .crazy_image
          float left
          height 20px
          >img
            width 85px
            height 20px
            margin-right 100px
            vertical-align middle
        .crazy_end
          float left
          height 20px
          line-height 20px
          .time
            border 1px solid lavender

        .more
          float left
          height 20px
          line-height 20px
          .more_goods
            margin-left 5px
            font-size 12px
          .icon-right
            color #999999


