#apps
  width 100%
  margin 0 auto
  .msite
    bottom-border-1px(#e4e4e4)
    width 100%
    position fixed
    z-index 20
    top:0
    background white
    .index_top
      width 100%
      height 60px
      display flex
      justify-content space-around
      align-items center
      .msite_2
        height 25px
        >span
          >input
            background #e9e9e9
            height 25px
            border-radius 5px
            border 0
            outline none
            margin-right -20px

    .index_bottom
      width 100%
      .index_content
        width 100%
        .index_list
          display flex
          justify-content space-between
          white-space nowrap
          align-items center
          .on
             color red
             border-bottom 1px solid #e73f85
          /*li:first-child
             color red
             border-bottom 1px solid #e73f85*/
          >li
            font-size 14px
            height 38px
            line-height 38px


/*图片轮播*/
.nav-content
  margin-top 100px
  width 100%
  .nav-container
    width 100%
    .nav_content
      width 100%
      height 100%
      .nav_images
        width 100%
// 分类列表
.column
  width 100%
  .column_div
    width 100%
    .column_top
      width 100%
      display flex
      justify-content space-around
      >li
        >a
          >img
            display block
            width 80px
            height 100px
    .column_bottom
      width 100%
      display flex
      justify-content space-around
      >li
        >a
          >img
            display block
            width 80px
            height 100px




// 新人专享
  .logo
    width 100%
    height 140px
    a
      .logo_img
        width 100%
        height 120px

  //每日疯抢
  .crazy
    width 100%
    height 20px
    margin 0 20px

    .crazy_time
      width 100%
      height 20px
      .crazy_image
        float left
        height 20px
        >img
          height 20px
          vertical-align middle
          margin-right  70px
      .crazy_end
        float left
        height 20px
        line-height 20px
        .time
          border 1px solid lavender

      .more

        float left
        height 20px
        line-height 20px
        .more_goods
          margin-left 10px
          font-size 12px
        .icon-right
          color #999999

// 横线
.x_line
  width 100%
  .page_line
    height 10px
    background #f3f4f5

.e_chong
  width 100%
  .e_img
    width 100%
    display flex
    justify-content space-around
    text-align center
    .e_div
      width 100%
      a
        img
          height 125px





.banner_item
  width 100%
  div
    a
      img
        height 160px



//        潮品视频
.clum_tit
  width 100%
  display flex
  justify-content space-around
  align-items center
  .leftimg
    img
      display block
      height 73px
  .more_titclass
    a
     font-size 14px
    .icon-right
      color #999




.fashion
  width 100%
  .videList
    width 100%
    img
      width 100%
      height 160px
  .vidotext
    width 100%
    text-align center
    margin 10px 0
    .vide_num
      margin-top 5px
      color #999




.divimg_box
  width 100%
  display flex
  justify-content space-around
  .divimg
    flex 1
    img
      height 100px




//      图片轮播
.banner_item
  width 100%
  #banner_item
    width 100%




.title_bg
  width 100%
  .title_img
    width 100%
    img
      height 33px


.title_footer
  width 100
  margin-bottom 46px


  .title_bot
    text-align center
    font-size 14px
    padding 15px 0 5px
    margin 0 10px 0 10px




















